 <h1 class="page-header">Proyectos <%= link_to '+', new_app_path , class: "btn btn-sm btn-default" %></h1>
 <div class="row placeholders">
  <% @apps.each do |app| %>
  <div class="col-sm-2 placeholder">
    <%= link_to(image_tag("project.jpeg", height: '100', width: '100', class: "img-responsive", alt: "Generic placeholder thumbnail" ),app) %>
    <h4><%= app.name %></h4>
    <span class="text-muted"><%= app.description %></span>
  </div>
  <% end %>
</div>
